.pagination{
   margin-top: 3rem;
   margin-bottom: 1rem;
   display:flex;
  justify-content: center;
}
button{
    width:5rem;
    height: 3rem;
    background-color:#ee4b00ee;
    color:white;
    font-size: 1.5rem;
    margin-right: 6rem;
    border:3px solid #522b08;;
    font-style:oblique;
   
}